legacy-peer-deps=true
strict-ssl=false
registry=https://registry.npmjs.org/
maxsockets=1
network-timeout=600000
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=100000
cache-min=3600
prefer-offline=true